.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #093a94 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #093a94 !important;
  border-color: #093a94 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #041a42 !important;
  border-color: #041a42 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #041a42 !important;
  border-color: #041a42 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #093a94;
  color: #093a94;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #041a42 !important;
  background-color: transparent!important;
  border-color: #041a42 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #093a94 !important;
  border-color: #093a94 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #093a94 !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #031434 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #093a94;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #093a94;
  border-color: #093a94;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #093a94;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2a71f2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #093a94 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #093a94;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #093a94;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #093a94;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #093a94;
  border-bottom-color: #093a94;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #093a94 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23093a94' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tHVkMShAxI .navbar-dropdown {
  background-color: #1362f2 !important;
  padding: 0;
}
.cid-tHVkMShAxI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #1362f2 !important;
  background: #1362f2;
}
.cid-tHVkMShAxI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tHVkMShAxI .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-tHVkMShAxI .menu_box .navbar.opened,
  .cid-tHVkMShAxI .menu_box .navbar-collapse {
    background-color: #1362f2 !important;
    transition: all 0s ease 0s;
  }
}
.cid-tHVkMShAxI .navbar-dropdown {
  position: relative !important;
}
.cid-tHVkMShAxI .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-tHVkMShAxI .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-tHVkMShAxI .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tHVkMShAxI .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tHVkMShAxI .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #000000;
  }
  .cid-tHVkMShAxI .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tHVkMShAxI .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tHVkMShAxI .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tHVkMShAxI .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tHVkMShAxI .offcanvas-body .mbr-text,
  .cid-tHVkMShAxI .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-tHVkMShAxI .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tHVkMShAxI .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tHVkMShAxI ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tHVkMShAxI .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tHVkMShAxI .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tHVkMShAxI .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tHVkMShAxI li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tHVkMShAxI .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tHVkMShAxI .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tHVkMShAxI .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .nav-item {
    margin: 0 !important;
  }
}
.cid-tHVkMShAxI .nav-item .nav-link {
  position: relative;
}
.cid-tHVkMShAxI .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #093a94;
  transition: all 0.3s ease-out;
}
.cid-tHVkMShAxI .nav-item .nav-link:hover,
.cid-tHVkMShAxI .nav-item .nav-link:focus {
  opacity: 1;
  color: #093a94 !important;
}
.cid-tHVkMShAxI .nav-item .nav-link:hover::before,
.cid-tHVkMShAxI .nav-item .nav-link:focus::before {
  width: 100%;
}
.cid-tHVkMShAxI .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tHVkMShAxI .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tHVkMShAxI .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tHVkMShAxI .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tHVkMShAxI .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tHVkMShAxI .offcanvas_box {
    display: none;
  }
}
.cid-tHVkMShAxI .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-tHVkMShAxI .nav-dropdown .link {
  font-weight: 300 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tHVkMShAxI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tHVkMShAxI .container {
  display: flex;
  margin: auto;
}
.cid-tHVkMShAxI .iconfont-wrapper {
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tHVkMShAxI .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tHVkMShAxI .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tHVkMShAxI .navbar-caption {
  color: #ffffff;
}
.cid-tHVkMShAxI .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tHVkMShAxI .navbar-nav {
    margin: 0;
  }
}
.cid-tHVkMShAxI .dropdown-menu,
.cid-tHVkMShAxI .navbar.opened {
  background-color: false !important;
}
.cid-tHVkMShAxI .nav-item:focus,
.cid-tHVkMShAxI .nav-link:focus {
  outline: none;
}
.cid-tHVkMShAxI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tHVkMShAxI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tHVkMShAxI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tHVkMShAxI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tHVkMShAxI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tHVkMShAxI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tHVkMShAxI .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-tHVkMShAxI .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-tHVkMShAxI .navbar.opened {
  transition: all 0.3s;
}
.cid-tHVkMShAxI .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tHVkMShAxI .navbar .navbar-logo img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.cid-tHVkMShAxI .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-tHVkMShAxI .navbar.collapsed {
  justify-content: center;
}
.cid-tHVkMShAxI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tHVkMShAxI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tHVkMShAxI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tHVkMShAxI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tHVkMShAxI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tHVkMShAxI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tHVkMShAxI .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tHVkMShAxI .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tHVkMShAxI .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tHVkMShAxI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tHVkMShAxI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tHVkMShAxI .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tHVkMShAxI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tHVkMShAxI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tHVkMShAxI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tHVkMShAxI .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tHVkMShAxI .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tHVkMShAxI .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tHVkMShAxI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-tHVkMShAxI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tHVkMShAxI .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tHVkMShAxI .navbar.navbar-short {
  min-height: 60px;
}
.cid-tHVkMShAxI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tHVkMShAxI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tHVkMShAxI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tHVkMShAxI .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-tHVkMShAxI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tHVkMShAxI .dropdown-item.active,
.cid-tHVkMShAxI .dropdown-item:active {
  background-color: transparent;
}
.cid-tHVkMShAxI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tHVkMShAxI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tHVkMShAxI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tHVkMShAxI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tHVkMShAxI ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-tHVkMShAxI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tHVkMShAxI button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #1362f2;
  background: #000000;
}
.cid-tHVkMShAxI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tHVkMShAxI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tHVkMShAxI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tHVkMShAxI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tHVkMShAxI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tHVkMShAxI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tHVkMShAxI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tHVkMShAxI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tHVkMShAxI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tHVkMShAxI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tHVkMShAxI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tHVkMShAxI .navbar {
    height: 70px;
  }
  .cid-tHVkMShAxI .navbar.opened {
    height: auto;
  }
  .cid-tHVkMShAxI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tHVkMShAxI .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-tHVkMShAxI .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.cid-tHVkMShAxI .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-tHVkMShAxI .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
  min-width: 145px;
}
@media (max-width: 992px) {
  .cid-tHVkMShAxI .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
@media (max-width: 1400px) {
  .cid-tHVkMShAxI .mbr-section-btn-main .btn {
    padding: 10px 20px;
  }
}
.cid-tHVkMShAxI .navbar-caption:hover {
  color: #093a94;
}
@media (min-width: 992px) {
  .cid-tHVkMShAxI .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tHVkMShAxI .text_widget {
  margin-bottom: 32px;
}
.cid-tHVkMShAxI .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-tHVkMShAxI .text_widget a:hover {
  color: #093a94 !important;
}
.cid-tHVkMShAxI .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tHVkMShAxI .mbr-text {
  color: #ffffff;
  text-align: left;
}
.cid-tHVkMShAxI .mbr-section-subtitle,
.cid-tHVkMShAxI .text_widget,
.cid-tHVkMShAxI .mbr-section-btn {
  text-align: left;
}
.cid-tHVkMShAxI a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tHZMgiDFWQ {
  background-color: #000000;
  overflow: hidden;
}
.cid-tHZMgiDFWQ .row {
  flex-direction: row-reverse;
}
.cid-tHZMgiDFWQ svg {
  position: absolute;
  top: 50px;
  width: 1700px;
  right: -80px;
  transform: scaleX(1) scaleY(1.3) rotate(0deg);
  animation: 1.5s ease-in-out infinite alternate svg;
}
.cid-tHZMgiDFWQ svg path {
  fill: #000000;
}
@media (max-width: 992px) {
  .cid-tHZMgiDFWQ svg {
    width: 1500px;
  }
}
@media (max-width: 767px) {
  .cid-tHZMgiDFWQ svg {
    width: 800px;
  }
}
@keyframes svg {
  from {
    transform: scaleX(1.2) scaleY(1.35) rotate(-1deg);
  }
  to {
    transform: scaleX(1) scaleY(1.3) rotate(0deg);
  }
}
.cid-tHZMgiDFWQ .mbr-section-title {
  color: #ffffff;
}
@media (min-width: 1400px) {
  .cid-tHZMgiDFWQ .col-12 {
    padding: 0 2rem;
  }
  .cid-tHZMgiDFWQ .row {
    margin: 0 -2rem;
  }
}
.cid-tHZMgiDFWQ .mbr-text,
.cid-tHZMgiDFWQ .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tHkWZ5E8Oo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tHkWZ5E8Oo .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tHkWZ5E8Oo .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tHkWZ5E8Oo .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tHkWZ5E8Oo .card {
    margin-bottom: 2rem;
  }
  .cid-tHkWZ5E8Oo .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tHl1BA7R4P {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tHl1BA7R4P .google-map {
  height: 30rem;
  position: relative;
}
.cid-tHl1BA7R4P .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tHl1BA7R4P .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tHl1BA7R4P .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tHl1BA7R4P .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tHlpZk1if9 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tHlpZk1if9 .iconfont-wrapper > .mbr-iconfont {
  font-size: 77px;
  color: #191919;
}
.cid-tHlpZk1if9 .iconfont-wrapper {
  margin-bottom: 15px;
}
.cid-tHlpZk1if9 .card {
  padding: 40px 70px 40px 30px;
  min-height: 330px;
  padding-right: 48px;
  margin-top: 50px;
  background-color: #75dbcd;
  width: 31%;
  border-radius: 20px;
}
.cid-tHlpZk1if9 .row {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.cid-tHlpZk1if9 .card-text {
  color: #ffffff;
}
.cid-tHlpZk1if9 .card-title {
  margin-bottom: 15px;
}
.cid-tHlpZk1if9 .custom-link::after {
  background-color: currentColor;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
}
.cid-tHlpZk1if9 .link:hover .custom-link {
  color: #75dbcd !important;
}
.cid-tHlpZk1if9 .card-title,
.cid-tHlpZk1if9 .iconfont-wrapper {
  color: #000000;
}
.cid-tHlpZk1if9 .c1 {
  background-color: #e2e3e9;
}
.cid-tHlpZk1if9 .c2 {
  background-color: #c0f22c;
}
.cid-tHlpZk1if9 .c3 {
  background-color: #e2e3e9;
}
.cid-tHlpZk1if9 .c4 {
  background-color: #c0f22c;
}
.cid-tHlpZk1if9 .c5 {
  background-color: #e2e3e9;
}
.cid-tHlpZk1if9 .c6 {
  background-color: #c0f22c;
}
.cid-tHlpZk1if9 .card:nth-child(1) {
  margin-top: 0px;
}
.cid-tHlpZk1if9 .card:nth-child(2) {
  margin-top: 0px;
}
.cid-tHlpZk1if9 .card:nth-child(3) {
  margin-top: 0px;
}
@media (max-width: 770px) {
  .cid-tHlpZk1if9 .card:nth-child(3) {
    margin-top: 30px;
  }
  .cid-tHlpZk1if9 .card {
    width: 48%;
  }
}
@media (max-width: 520px) {
  .cid-tHlpZk1if9 .card:nth-child(2) {
    margin-top: 30px;
  }
  .cid-tHlpZk1if9 .card {
    padding-right: 15px;
    width: 100%;
  }
}
.cid-tHlpZk1if9 .card-text,
.cid-tHlpZk1if9 .link {
  color: #000000;
}
.cid-tHsE8GlA2w {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #093a94;
}
.cid-tHsE8GlA2w .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHsE8GlA2w .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHsE8GlA2w .container-fluid {
  padding: 0 120px;
}
@media (max-width: 768px) {
  .cid-tHsE8GlA2w .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 768px) {
  .cid-tHsE8GlA2w .container {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-tHsE8GlA2w .image-wrapper {
    margin-bottom: 50px;
  }
}
.cid-tHsE8GlA2w .image-wrapper img {
  height: 640px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-tHsE8GlA2w .image-wrapper img {
    height: 300px;
  }
}
.cid-tHsE8GlA2w .title-wrapper {
  margin: 0 0 50px 70px;
}
@media (max-width: 992px) {
  .cid-tHsE8GlA2w .title-wrapper {
    margin: 0 0 50px 0;
  }
}
.cid-tHsE8GlA2w .title-wrapper .mbr-section-subtitle {
  margin-bottom: 18px;
}
.cid-tHsE8GlA2w .title-wrapper .mbr-section-title {
  margin-bottom: 18px;
}
.cid-tHsE8GlA2w .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tHsE8GlA2w .cards-wrapper {
  margin: 0 0 0 70px;
}
@media (max-width: 992px) {
  .cid-tHsE8GlA2w .cards-wrapper {
    margin: 0;
  }
}
.cid-tHsE8GlA2w .cards-wrapper .cards-wrap {
  display: inline-flex;
}
@media (max-width: 768px) {
  .cid-tHsE8GlA2w .cards-wrapper .cards-wrap {
    display: block;
  }
}
.cid-tHsE8GlA2w .cards-wrapper .cards-wrap .card:first-child {
  margin-right: 18px;
}
@media (max-width: 768px) {
  .cid-tHsE8GlA2w .cards-wrapper .cards-wrap .card:first-child {
    margin-right: 0;
    margin-bottom: 18px;
  }
}
.cid-tHsE8GlA2w .cards-wrapper .cards-wrap .card .mbr-card-title {
  margin-bottom: 18px;
}
.cid-tHsE8GlA2w .cards-wrapper .cards-wrap .card .mbr-text {
  margin-bottom: 0;
}
.cid-tHsE8GlA2w .mbr-section-title {
  color: #ffffff;
}
.cid-tHsE8GlA2w .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHsE8GlA2w .mbr-text {
  color: #ffffff;
}
.cid-tHsE8GlA2w .mbr-card-title {
  color: #ffffff;
}
.cid-tHmfu4lufN {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #212428;
}
.cid-tHmfu4lufN .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tHmfu4lufN .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tHmfu4lufN .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tHmfu4lufN .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2.5rem 2rem;
  background: #282b2f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
.cid-tHmfu4lufN .card-wrapper:hover {
  background: transparent;
}
.cid-tHmfu4lufN .card-title,
.cid-tHmfu4lufN .card-box {
  color: #ffffff;
}
.cid-tHmfu4lufN .main-title,
.cid-tHmfu4lufN .title-col {
  text-align: center;
  color: #ffffff;
}
.cid-tHmfu4lufN .card-text {
  color: #bbbbbb;
}
.cid-tHnbemEkJD {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHnbemEkJD .mbr-subtitle {
  color: #4f87fb;
  margin-bottom: 10px;
  font-weight: 800;
}
.cid-tHnbemEkJD .mbr-subtitle.display-4 {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 2px;
}
.cid-tHnbemEkJD .mbr-section-title {
  margin-bottom: 20px;
  color: #130947;
  font-weight: 700;
}
.cid-tHnbemEkJD .mbr-section-title.display-2 {
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: -0.5px;
}
.cid-tHnbemEkJD .mbr-section-text {
  line-height: 1.5;
  margin-top: 20px;
  color: #6d7a8c;
}
.cid-tHnbemEkJD .row-item {
  margin-bottom: 2rem;
  border-radius: 8px;
}
.cid-tHnbemEkJD .row-item:hover .wrapper {
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item:hover .wrapper::before {
  z-index: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item:hover .wrapper .card-img {
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item:hover .wrapper .card-img span {
  z-index: 1;
  color: #ffffff !important;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item:hover .wrapper .mbr-card-title {
  position: relative;
  z-index: 1;
  color: #ffffff !important;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item .wrapper {
  padding: 40px 0 30px;
  background: #ffffff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.cid-tHnbemEkJD .row-item .wrapper::before {
  border-radius: 8px;
  position: absolute;
  content: '';
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  background-color: #119f25;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-tHnbemEkJD .row-item .wrapper .card-img span {
  color: #4f87fb;
}
.cid-tHnbemEkJD .row-item .wrapper .mbr-iconfont {
  font-size: 50px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.cid-tHnbemEkJD .row-item .wrapper .mbr-card-title {
  color: #130947;
  font-weight: 700;
}
.cid-tHnbemEkJD .row-item .wrapper .mbr-card-title.display-7 {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.5px;
}
.cid-tHnbemEkJD img {
  width: 90%;
  border-radius: 8px;
}
.cid-tHnbemEkJD .btn {
  border-radius: 3px;
  padding: 12px 40px;
  font-weight: 700;
}
.cid-tHnbemEkJD .btn.display-4 {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .cid-tHnbemEkJD .mbr-section-title {
    text-align: left;
  }
  .cid-tHnbemEkJD img {
    width: 100%;
  }
}
.cid-tHnbemEkJD .mbr-subtitle,
.cid-tHnbemEkJD .mbr-section-btn {
  color: #ffffff;
}
.cid-tHnbemEkJD .mbr-section-title,
.cid-tHnbemEkJD .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tIe5MzMtUa {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIe5MzMtUa .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIe5MzMtUa .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIe5MzMtUa .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIe5MzMtUa .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIe5MzMtUa .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIe5MzMtUa .card-title,
.cid-tIe5MzMtUa .card-box {
  color: #000000;
}
.cid-tIe5MzMtUa .main-title,
.cid-tIe5MzMtUa .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIe5MzMtUa .card-text {
  color: #353535;
}
.cid-tIe5LryVCZ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIe5LryVCZ .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIe5LryVCZ .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIe5LryVCZ .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIe5LryVCZ .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIe5LryVCZ .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIe5LryVCZ .card-title,
.cid-tIe5LryVCZ .card-box {
  color: #000000;
}
.cid-tIe5LryVCZ .main-title,
.cid-tIe5LryVCZ .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIe5LryVCZ .card-text {
  color: #353535;
}
.cid-tIgiJ1mk4I {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIgiJ1mk4I .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIgiJ1mk4I .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIgiJ1mk4I .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIgiJ1mk4I .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIgiJ1mk4I .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIgiJ1mk4I .card-title,
.cid-tIgiJ1mk4I .card-box {
  color: #000000;
}
.cid-tIgiJ1mk4I .main-title,
.cid-tIgiJ1mk4I .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIgiJ1mk4I .card-text {
  color: #353535;
}
.cid-tIgnAqBdJt {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIgnAqBdJt .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIgnAqBdJt .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIgnAqBdJt .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIgnAqBdJt .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIgnAqBdJt .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIgnAqBdJt .card-title,
.cid-tIgnAqBdJt .card-box {
  color: #000000;
}
.cid-tIgnAqBdJt .main-title,
.cid-tIgnAqBdJt .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIgnAqBdJt .card-text {
  color: #353535;
}
.cid-tIh7NqI525 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIh7NqI525 .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIh7NqI525 .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIh7NqI525 .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIh7NqI525 .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIh7NqI525 .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIh7NqI525 .card-title,
.cid-tIh7NqI525 .card-box {
  color: #000000;
}
.cid-tIh7NqI525 .main-title,
.cid-tIh7NqI525 .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIh7NqI525 .card-text {
  color: #353535;
}
.cid-tIhbk977jL {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tIhbk977jL .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #8364e2;
  margin-bottom: 1rem;
}
.cid-tIhbk977jL .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-tIhbk977jL .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
  position: absolute;
}
.cid-tIhbk977jL .card-wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.cid-tIhbk977jL .card-wrapper:hover {
  background: #f4f4f4;
}
.cid-tIhbk977jL .card-title,
.cid-tIhbk977jL .card-box {
  color: #000000;
}
.cid-tIhbk977jL .main-title,
.cid-tIhbk977jL .title-col {
  text-align: center;
  color: #000000;
}
.cid-tIhbk977jL .card-text {
  color: #353535;
}
.cid-tHpuPN9cs1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #093a94;
}
.cid-tHpuPN9cs1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHpuPN9cs1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHpuPN9cs1 .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #093a94;
  margin-bottom: 2rem;
}
.cid-tHpuPN9cs1 .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 10px;
  padding: 2rem;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tHpuPN9cs1 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tHpuPN9cs1 .card-title,
.cid-tHpuPN9cs1 .card-box {
  color: #ffffff;
}
.cid-tHpuPN9cs1 .card-text {
  color: #ffffff;
}
.cid-tHKtAEGkoH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tHKtAEGkoH .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tHKtAEGkoH .icon-box {
  background: #093a94;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tHKtAEGkoH .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tHKtAEGkoH .card {
    margin-bottom: 2rem;
  }
  .cid-tHKtAEGkoH .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tHKtAEGkoH .card-title,
.cid-tHKtAEGkoH .card-box {
  color: #ffffff;
}
.cid-tHKtAEGkoH .icon-text {
  color: #ffffff;
}
.cid-tHKtAEGkoH .icon-title {
  color: #ffffff;
}
.cid-tHrmmNMvAD {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
